.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
.ToDoItemInput{
display:inline-block;
}
.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
  margin-bottom: 40px;
}

.App-intro {
  font-size: large;
}

Button {
  Padding:6px;
  margin:4px;
  background-color: #008FE5;
  color:white;
  border-radius:10px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
